@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  min-height: 100svh;
  background-color: var(--color-background-pale-white);
  font-family: var(--font-space-grotesk);
}

@theme {
  /* Brand Primary Colors */
  --color-primary-100: #f4e5ff;
  --color-primary-200: #dfb2ff;
  --color-primary-300: #c575ff;
  --color-primary-400: #ac38ff;
  --color-primary-500: #4b0081;
  --color-primary-600: #9100fa;
  --color-primary-700: #6e00bd;
  --color-primary-800: #270042;

  /* Brand Secondary Color */
  --color-secondary-color: #30568e;
  --color-pale-blue: #e2e8f0;
  --color-click-state-indigo-40: #eef2ff;
  --color-muted: #475569;
  --color-pale-blue-2: #cbd5e1;
  --color-soft-blue: #e0f2fe;
  --color-soft-green: #ecfdf5;
  --color-soft-gold: #fff7e8;
  --color-soft-red: #fee2e2;

  /* Black Colors */
  --color-black-25: #ffffff;
  --color-black-50: #f9fafb;
  --color-black-100: #f2f4f7;
  --color-black-200: #e4e7ec;
  --color-black-300: #a3a3a3;
  --color-black-400: #8a8a8a;
  --color-black-500: #707070;
  --color-black-600: #575757;
  --color-black-700: #3d3d3d;
  --color-black-800: #242424;
  --color-black-900: #0a0a0a;

  /* Accent Colors */

  --color-accent-gold: #ffd700;
  --color-accent-red: #9e0000;
  --color-accent-green: #00571c;

  /* Text Colors */
  --color-muted-text: #64748b;
  --color-gray-400: #94a3b8;
  --color-blue-grey: #1e293b;
  --color-slate-gray: #334155;

  --color-background-pale-white: #f9fafb;
  --color-background-anti-white: #f1f5f9;

  /* Setting Up Google Fonts */
  --font-space-grotesk: "Space Grotesk", "sans-serif";
}
